<template>
     <div class="masthead text-white text-center" style="min-height: 100vh; background: url('bg-masthead.jpg')no-repeat center center;background-size: cover;background-image: url(&quot;/img/wallpaperflare.com_wallpaper.jpg&quot;);">
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto" style="margin-top:15%">
                    <h1 class="mb-5" style="color:white">WeatherMuse</h1><br>
                    <router-link to="/weather" class="btn btn-primary btn-block btn-lg" type="submit">Enter</router-link>
                </div>
            </div>
        </div>
    </div>
</template>
