<template>
  <section id="dailyForecast" style="margin-top:10%">
    <div class="container">
      <div class="row justify-content-around">
        <div class="col-10 col-lg-5 tempBox text-center">
          <i class="icon ion-location"></i>
          <p>
            <span class="locName">{{ loading ? 'Loading Your Location ...' : weatherData.name }}</span>
          </p>
          <component :is="weatherData.weather[0].main">
            <skycon :condition="iconDesc" />
          </component>
          <p class="m0">
            <span class="weatherCondition">{{ loading ? '...' : weatherData.weather[0].main }}</span>
          </p>
          <p class="m0">
            <span class="currentTemp"></span>
            <span class="unit">{{ loading ? '...' : `${weatherData.main.temp} °C` }}</span>
          </p>
          <p class="feels">
            <i class="wi wi-barometer"></i> Feels Like:
            <span class="feelsLike">{{ loading ? '...' : weatherData.main.feels_like }}</span>
          </p>
          <div class="row tempBoxSubInfo">
            <div class="col">
              <p>
                <i class="wi wi-windy"></i>
                Wind Speed:
                <span
                  class="windSpeed"
                >{{ loading ? '...' : weatherData.wind.speed }}</span> km/s
              </p>
            </div>
            <div class="col">
              <p>
                <i class="wi wi-humidity"></i>
                Humidity:
                <span
                  class="humidity"
                >{{ loading ? '...' : weatherData.main.humidity }}</span> %
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import Vue from "vue";
import VueSkycons from "vue-skycons";
Vue.use(VueSkycons, { color: "white" });
export default {
  data() {
    return {
      loading: false,
      weatherApiCall: `https://api.openweathermap.org/data/2.5/weather?units=metric&appid=ea235b45d2188e096949765f6a12d098`,
      weatherData: {
        name: null,
        weather: [{ main: null }],
        main: {
          feels_like: null,
          humidity: null,
          temp: null
        },
        wind: {
          speed: null
        }
      },
      iconDesc: null,
      lat: null,
      lon: null,
      city: null
    };
  },
  mounted() {
    this.locateYouIpApi();
    this.locateYouGeoLocation(this.locateYouIpApi());
  },
  methods: {
    async locateYouIpApi() {
      this.loading = true;
      var ipApiCall = "https://ipapi.co/json";
      const ipapi_res = await axios.get(ipApiCall);
      if (ipapi_res) {
        this.weatherApiCall = `${this.weatherApiCall}&lat=${ipapi_res.data.latitude}&lon=${ipapi_res.data.longitude}`;
        this.weatherData.name = ipapi_res.data.city;
        this.loadLocationData();
      } else {
        return false;
        console.log("IP API Fail");
      }
    },
    async locateYouGeoLocation(doesIPAPIWork) {
      if (!doesIPAPIWork) {
        console.log("IPAPI works this function wont run!");
      } else {
        this.loading = true;
        if (!("geolocation" in navigator)) {
          Console.log("Geolocation needed since IP API failed");
        } else {
          navigator.geolocation.getCurrentPosition(async position => {
            this.weatherApiCall = `${this.weatherApiCall}&lat=${position.coords.latitude}&lon=${position.coords.longitude}`;
            console.log(this.weatherApiCall);
            this.loadLocationData();
          });
        }
      }
    },
    loadLocationData() {
      axios
        .get(this.weatherApiCall)
        .then(res => {
          this.weatherData = {
            ...res.data
          };
          switch (this.weatherData.weather[0].main) {
            case "Thunderstorm":
              this.iconDesc = "rain";
              $("body").css("background", 'url("/img/rain.jpg")');
              $("body").css("background-size", "cover");
              $("body").css("background-repeat", "no-repeat");
              $("body").css("background-cover", "center");
              break;
            case "Drizzle":
              this.iconDesc = "rain";
              $("body").css("background", 'url("/img/drizzle.jpg")');
              $("body").css("background-size", "cover");
              $("body").css("background-repeat", "no-repeat");
              $("body").css("background-cover", "center");
              break;
            case "Rain":
              this.iconDesc = "rain";
              $("body").css("background", 'url("/img/rain.jpg")');
              $("body").css("background-size", "cover");
              $("body").css("background-repeat", "no-repeat");
              $("body").css("background-cover", "center");
              break;
            case "Clouds":
              this.iconDesc = "cloudy";
              $("body").css("background", 'url("/img/cloudy.jpg")');
              $("body").css("background-size", "cover");
              $("body").css("background-repeat", "no-repeat");
              $("body").css("background-cover", "center");
              break;
            case "Clear":
              this.iconDesc = "clear-day";
              $("body").css("background", 'url("/img/clear.jpg")');
              $("body").css("background-size", "cover");
              $("body").css("background-repeat", "no-repeat");
              $("body").css("background-cover", "center");
              break;
            default:
              break;
          }

          this.loading = false;
        })
        .catch(err => {
          console.log(err);
          this.loading = false;
        });
    }
  }
};
</script>