<template>
  <div>
    <h1>Hello WeatherQuotes</h1>
    <h1>{{weatherTitle}}</h1>
    <h1>{{weatherText}}</h1>
  </div>
</template>

<script>
export default {
  name: "weatherquotes",
  props: {
    weatherTitle: String,
    weatherText: String
  }
};
</script>
<style scoped>
</style>
